.full-width {
    padding-right: 0;
    padding-left: 0;
}
.cursor-pointer {
    cursor: pointer;
}
.content-margin {
    margin: 20px auto;
}

.footer-padding-top{
    padding-top: 20px;
}
/*Nav bar css*/

.navbar-default .navbar-nav > .open > a{
    background-color: #221c50;
}

.navbar-default .navbar-brand {
	color: #fcf8e3;
}
.navbar-default {
	background-color: #413794;
	border-color: #413794;
}
.navbar {
	border-bottom: 2px solid black;
	padding: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #fcf8e3;
}
.navbar-header a {
	padding-top: 15px;
}
.navbar-default .navbar-nav>.active>a {
	background-color: #221c50;
	color: #fcf8e3;
}

.active-link {
    background-color: #221c50;
    color: #fcf8e3;
}
/*Nav bar css*/

/*Footer css*/
footer {
	background: #d3d3d3;
}
.footer-social li {
	float: left;
	display: block;
}
@media (max-width: 640px) {
	.left-padding {
		padding-left: 0px;
	}
	.social {
		float: none;
	}
}
.social-icon {
	width: 30px;
	height: 30px;
	font-size: 15px;
	background-color: blue;
	color: #fff;
	text-align: center;
	margin-right: 3px;
	padding-top: 7px;
	border-radius: 16%;
}
li {
	display: block;
}
.linked-in {
	background-color: #007bb6;
}
.facebook {
	background-color: #3b5998;
}
.twitter {
	background-color: #1da1f2;
}
.google {
	background-color: #f63e28;
}
.youtube {
	background-color: #e61629;
}
.social {
	display: block;
	float: right;
	padding-top: 45px;
}
/* @media (max-width: 992px) {
	.social {
		padding-left: 20%;
	}
}
@media (max-width: 480px) {
	.social {
		padding-left: 2%;
	}
}
@media (max-width: 480px) {
	.social {
		float: none;
	}
} */
@media (max-width: 543px) {
	.social {
		display: table;
        margin: 0 auto;
        float: none;
	}
}
.pull-center {
	text-align: center;
}
h5 {
	padding-left: 40px;
}
/*Footer css*/